body {
    background-image: url(/Unfinished-White-Oak_2-Common-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 72px;
}

.navbar {
    display: flex;
}

#start {
    align-items: right;
}

#drums {
    display: flex;
    justify-content: center;
    height: 800px;
}