body {
    background-image: url(/Unfinished-White-Oak_2-Common-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    position: absolute;
    right: 95%;
}

#HTP {
    background-color: black;
    color: white;
}

h1 {
    left: 40%;
    text-align: center;
    font-size: 72px;
    position: absolute;
}

.start-button{
    position: absolute;
    left: 97%;
}

#drums {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.hidden {
    display: none !important;
}